[SddmGreeterTheme]
Name=Federation Login
Description=Modern SDDM theme built for FreeBSD 14.3+ using QtQuick 6.5
License=Creative Commons Attribution-ShareAlike (CC-BY-SA)
Author=Fernando de Paula
Email=fernando.sars@gmail.com
Website=https://github.com/DSPaula/Federation
Copyright=2025 Fernando de Paula
Type=sddm-greeter-qt6
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Screenshot=sddmfederation.png
TranslationsDirectory=translations
Theme-Id=Federation
Theme-API=2.0
QtVersion=6
